<div class="row my-4">
    <div class="col-md-6">
        <h3>List of Tasks</h3>
    </div>
    <div class="col-md-6 text-right">
        
        <button (click)="showForm = !showForm" class="btn btn-dark btn-sm">
            <i class="fa fa-plus"></i>New Task
        </button>
    </div>
</div>

<div class="row" *ngIf="showForm">
    <div class="col-md-6 mx-auto">
        <div class="form-group">
            <label for="label">Task :</label>
            <input [(ngModel)] = "myTask.task" id="label" type="text" class="form-control">
        </div>
        <div class="form-check my-2">
          <label class="form-check-label">
            <input [(ngModel)] = "myTask.done" type="checkbox" class="form-check-input">
            Done :
          </label>
        </div>
        <div class="form-check my-2">
          <label class="form-check-label">
            <input [(ngModel)] = "myTask.starting" type="checkbox" class="form-check-input" >
            Starting :
          </label>
        </div>
        
    
        <button *ngIf="editFrom" (click)="updateTask()" class="btn btn-warning btn-block">
            <i class="fa fa-refresh"></i> 
            Update Task
        </button>

        <button *ngIf="!editFrom" (click)="persisteTask()" class="btn btn-success btn-block">
            <i class="fa fa-send"></i> 
            New Task
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mx-auto">
        <input (keyup)="searchTask()" [(ngModel)]="searchText" placeholder="Search..." type="text" class="form-control">
        <ul class="list-group">
            
            <li *ngFor="let task of resultTaskss" class="list-group-item d-flex justify-content-between align-items-center">
                <button (click) = "editTask(task)" class="btn btn-warning btn-sm">
                    <i class="fa fa-pencil"></i>
                </button>
                {{ task.task }}
                <span (click) = "modification(task)" [ngClass]="{
                    'badge-info': task.done,
                    'badge-danger': !task.done
                }" class="badge badge-danger badge-pill"> Done : 
                    <i class="fa" [ngClass]="{
                        'fa-thumbs-up' : task.done,
                        'fa-thumbs-down':!task.done
                    }"></i>
                </span>
                <span (click)="modificationStarting(task)" [ngClass]="{
                    'badge-info': task.starting,
                    'badge-danger': !task.starting
                }" class="badge badge-danger badge-pill"> starting : 
                    <i class="fa" [ngClass]="{
                        'fa-thumbs-up' : task.starting,
                        'fa-thumbs-down':!task.starting
                    }"></i>
                </span>
                
              
                    <button (click)="deleteTask(task.ID)" class="btn btn-sm btn-dark">
                        <i class="fa fa-trash"></i>
                    </button>
            </li>
         
        </ul>
    </div>
</div>